@use "sass:math";

//mixins==============================================================
@import 'base/mixins';
@import 'icons';

//fonts=============================================================
//&display=swap
// @import 'fonts';
@import 'iconFont';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=League+Spartan:wght@300;400;500;600;700&display=swap');

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1420;

// Брейк-поинты
$pc: em($maxWidthContainer); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

//main mesh=========================================================
._container{
  max-width: rem($maxWidthContainer);
  margin: 0 auto;
  padding: 0 rem(15);
  box-sizing: content-box;

  // @media (max-width: $pc) {
  //   max-width: rem(970);
  // }
  // @media (max-width: $tablet) {
  //   max-width: rem(750);
  // }
  // @media (max-width: $mobile) {
  //   max-width: none;
  // }
}

._container-big {
  max-width: rem(1650);
  padding: 0 rem(15);
  margin: 0 auto;
}

//Подклбчение шрифтов===============================================
$fontFamily: 'League Spartan', sans-serif;
$fontSize: rem(18);

// Основные цвета
$mainColor: #fff;
$mainColorDark: #263238;
$greyColor: rgba(255, 255, 255, 0.05);
$greenColor: #23B123;

//null styles=======================================================
@import 'base/null';

// ТЕЛО САЙТА
body {
  color: $mainColor;
  background-color: $mainColorDark;

  .lock & {
    overflow: hidden;
  }
}

//page=============================================================
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.page {
  flex: 1 1 auto;

  &__mainscreen {
  }
  &__partners {
  }
  &__how {
  }
  &__pathway {
  }
  &__why {
  }
  &__reviews {
  }
  &__download {
  }
}

//_ibg
._ibg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  & img{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }  
}

//Общие стили==========================================================
@import 'ui'; 
//popup==========================================================================
@import 'base/popup.scss';

//header ==============================================================
@import 'styleHeader';
//footer==================================================================
@import 'styleFooter';

.mainscreen {

  // .mainscreen__container-big

  &__container-big {
    position: relative;
  }

  // .mainscreen__content

  &__content {
    @include adaptiv-value('padding-top', 250, 120, 1);
    @include adaptiv-value('padding-bottom', 200, 50, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 2;
  }

  // .mainscreen__title

  &__title {
    max-width: rem(950);

    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 69, 30, 1);
    }
  }

  // .mainscreen__text

  &__text {
    max-width: rem(560);
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 48, 25, 1);
    }
  }

  // .mainscreen__form

  &__form {
    @media (max-width: rem(430)){
      width: 100%;
    }
  }

  // .mainscreen__icons

  &__icons {
  }
}

.icons-mainscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @media (max-width: $mobile){
    opacity: 0.5;
  }
  // .icons-mainscreen__item

  &__item {
    position: absolute;
    pointer-events: none;

    // .icons-mainscreen__item_1

    &_1 {
      left: rem(20);
      top: percent(682, 975);
    }

    // .icons-mainscreen__item_2

    &_2 {
      left: percent(250, 1620);
      top: percent(379, 975);
    }

    // .icons-mainscreen__item_3

    &_3 {
      left: percent(410, 1620);
      top: percent(750, 975);
    }

    // .icons-mainscreen__item_4

    &_4 {
      right: percent(434, 1620);
      top: percent(134, 975);
    }

    // .icons-mainscreen__item_5

    &_5 {
      right: percent(283, 1620);
      top: percent(416, 975);
    }

    // .icons-mainscreen__item_6

    &_6 {
      right: percent(266, 1620);
      top: percent(774, 975);
    }

    // .icons-mainscreen__item_7

    &_7 {
      right: rem(20);
      top: percent(369, 975);
    }
  }

  &__circle {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    @include adaptiv-value('width', 585, 200, 1);
    @include adaptiv-value('height', 585, 200, 1);

    &::before {
      content: '';
      border: 1px solid rgba(255, 255, 255, 0.37);
      border-radius: 50%;
      display: block; 
      width: 100%;
      height: 100%;
    }
    // .icons-mainscreen__circle_1

    &_1 {
      &::before {
        transform: translate(-48%, -58%); 
      }
    }

    // .icons-mainscreen__circle_2

    &_2 {
      &::before {
        transform: translate(-58%, -45%); 
      }
    }
  }
}

//=====================================================================================

.partners {
  @include adaptiv-value('padding-bottom', 200, 50, 1);
  // .partners__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: rem(25);

    @media (max-width: rem(1140)){
      justify-content: center;
    }
  }

  // .partners__item

  &__item {
    text-align: center;
    img {
      max-width: 100%;
    }
  }
}

//======================================================================================

.how {
  @include adaptiv-value('padding-bottom', 100, 50, 1);
  // .how__container

  &__container {
    display: grid;
    row-gap: rem(30);
    @media (min-width: $tablet){
      grid-template-columns: auto percent(750, 1420);
    }
  }

  // .how__content

  &__content {
    @media (min-width: $tablet){
      @include adaptiv-value('padding-right', 80, 1, 1);
    }
  }

  // .how__title

  &__title {
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 28, 20, 1);
    }
    @media (max-width: $mobileSmall){
      text-align: center;
    }
  }

  // .how__text

  &__text {
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 48, 25, 1);
    }
    @media (max-width: $mobileSmall){
      text-align: center;
    }
  }

  // .how__steps

  &__steps {
  }

  // .how__image

  &__image {
    @include adaptiv-value('padding-top', 165, 30, 1);
    @include adaptiv-value('padding-bottom', 165, 30, 1);
  }
}

.steps-how {
  display: flex;
  flex-direction: column;
  @include adaptiv-value('gap', 48, 25, 1);
  // .steps-how__item

  &__item {
    max-width: rem(410);
    display: flex;
    align-items: flex-start;  
    @include adaptiv-value('gap', 32, 25, 1);

    @media (max-width: $mobileSmall){
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  // .steps-how__icon

  &__icon {
    flex: 0 0 110px;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(0, 128, 0, 0.1);
  }

  // .steps-how__content

  &__content {
    flex: 1 1 auto;

    @media (max-width: $mobileSmall){
      text-align: center;
    }
  }

  // .steps-how__title

  &__title {
    font-weight: 700;
    font-size: rem(20);
    line-height: 110%;
    &:not(:last-child) {
      margin: 0 0 rem(15) 0;
    }
  }

  // .steps-how__text

  &__text {
  }
}

//===========================================================================================

.pathway {
  @include adaptiv-value('padding-top', 100, 25, 1);
  @include adaptiv-value('padding-bottom', 100, 25, 1);
  // .pathway__container

  &__container {
    display: flex;
    row-gap: rem(30);
    @media (max-width: $tablet){
      flex-direction: column-reverse;
    }
  }

  // .pathway__image

  &__image {
    flex: 0 0 percent(694, 1420);
    @include adaptiv-value('padding-top', 99, 30, 1);
    @include adaptiv-value('padding-bottom', 99, 30, 1);
  
    @media (max-width: $tablet){
      width: 100%;
    }
  }

  // .pathway__content

  &__content {
    flex: 1 1 auto;
    @media (min-width: $tablet){
      @include adaptiv-value('padding-left', 126, 1, 1);
    }
  }

  // .pathway__title

  &__title {
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 30, 25, 1);
    }
    @media (max-width: $mobileSmall){
      text-align: center;
    }
  }

  // .pathway__text

  &__text {
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 48, 30, 1);
    }
    @media (max-width: $mobileSmall){
      text-align: center;
    }
  }

  // .pathway__spollers

  &__spollers {
  }
}

.spollers-pathway {
  display: grid;
  gap: rem(24);

  // .spollers-pathway__spoller

  &__spoller {
    padding: rem(24) rem(33) rem(24) rem(30); 
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: rem(10);

    @media (max-width: mobileSmall){
      padding: rem(20) rem(24); 
    }
  }

  // .spollers-pathway__title

  &__title {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    @include adaptiv-value('font-size', 28, 18, 1);
    font-weight: 300;
    line-height: 177%;
    gap: rem(10);

    &::before {
      color: $greenColor;
      font-size: rem(20);
      transition: all 0.3s ease 0s;
    }

    &._spoller-active {
      &::before {
        transform: rotate(180deg);
      }
    }

    @media (max-width: $mobileSmall){
      line-height: 130%;
      text-align: start;
    }
  }

  // .spollers-pathway__body

  &__body {
    padding-top: rem(20);
  }
}

//===========================================================================================

.why {
  @include adaptiv-value('padding-top', 100, 25, 1);
  @include adaptiv-value('padding-bottom', 100, 25, 1);
  // .why__container

  &__container {
    display: grid;
    row-gap: 30px;
    @media (min-width: $tablet){
      grid-template-columns: 1fr percent(680, 1420);
    }
  }

  // .why__content

  &__content {
    @media (min-width: $tablet){
      @include adaptiv-value('padding-right', 190, 1, 1);
    }
  }

  // .why__image

  &__image {
    padding: 0;
  }

  // .why__title

  &__title {
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 30, 25, 1);
    }

    @media (max-width: $mobileSmall){
      text-align: center;
    }
  }


  // .why__text

  &__text {
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 48, 30, 1);
    }
    @media (max-width: $mobileSmall){
      text-align: center;
    }
  }

  // .why__steps

  &__steps {
  }

  // .why__btn

  &__btn {
    min-width: rem(222);
    @media (max-width: $mobileSmall){
      width: 100%;
    }
  }
}

.steps-why {
  list-style-type: none;
  counter-reset: item;
  display: grid;
  @include adaptiv-value('gap', 48, 20, 1);
  &:not(:last-child) {
    @include adaptiv-value('margin-bottom', 48, 30, 1);
  }

  // .steps-why__item

  &__item {
    font-size: rem(20);
    line-height: 110%;
    display: flex;
    align-items: center;
    @include adaptiv-value('gap', 50, 25, 1);

    &::before {
      content: '';
      counter-increment: item;
      content: counter(item);
      width: 64px;
      height: 64px;
      background: rgba(255, 255, 255, 0.05);
      text-align: center;
      font-weight: 700;
      @include adaptiv-value('font-size', 36, 28, 1);
      line-height: rem(70);
      border-radius: 50%;
    }
  }
}

//=====================================================================================

.reviews {
  @include adaptiv-value('padding-top', 100, 25, 1);
  @include adaptiv-value('padding-bottom', 200, 50, 1);

  // .reviews__container

  &__container {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  // .reviews__title

  &__title {
    text-align: center;
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 30, 25, 1);
    }
  }

  // .reviews__text

  &__text {
    text-align: center;
    max-width: rem(470);
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 48, 30, 1);
    }
  }

  // .reviews__items

  &__items {
    display: flex;
    @include adaptiv-value('gap', 48, 25, 1);
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 48, 30, 1);
    }

    @media (max-width: rem(570)){
      flex-direction: column;
    }
  }

  // .reviews__item

  &__item {
    flex: 0 1 50%;
  }

  // .reviews__btn

  &__btn {
    min-width: rem(221);
  }
}

.item-reviews {
  display: flex;
  background: rgba(255, 255, 255, 0.05);
  border-radius: rem(20);
  overflow: hidden;

  @media (max-width: $tablet){
    flex-direction: column;
  }


  // .item-reviews__img

  &__img {
    flex: 0 0 percent(300, 686);
    padding: 0 0 percent(377, 686) 0;
  }

  // .item-reviews__body

  &__body {
    flex: 1 1 auto;
    @include adaptiv-value('padding', 32, 15, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(15);

  }

  // .item-reviews__text

  &__text {
  }

  // .item-reviews__name

  &__name {
    font-weight: 500;
    font-size: rem(18);
    line-height: 177%;
  }
}

//=====================================================================================

.download {
  @include adaptiv-value('padding-bottom', 200, 50, 1);
  // .download__container

  &__container {
  }

  // .download__body

  &__body {
    position: relative;
    background: rgba(255, 255, 255, 0.07);
    border-radius: rem(20);
    @include adaptiv-value('padding-bottom', 64, 30, 1);
    @include adaptiv-value('padding-top', 72, 35, 1);
    @include adaptiv-value('padding-left', 30, 15, 1);
    @include adaptiv-value('padding-right', 30, 15, 1);
    overflow: hidden;
  }

  // .download__content

  &__content {
    text-align: center;
    display: grid;
    justify-items: center;
    position: relative;
    z-index: 2;
  }

  // .download__title

  &__title {
    max-width: rem(750);
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 48, 20, 1);
    }
  }

  // .download__apps

  &__apps {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(24);
  }

  // .download__app

  &__app {
    border-radius: rem(10);
    overflow: hidden;
  }

  // .download__circle

  &__circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.37);
      @include adaptiv-value('width', 585, 300, 1);
      @include adaptiv-value('height', 585, 300, 1);
    }
    // .download__circle_1

    &_1 {
      &::before {
        transform: translate(-50%, -20%);
      }
    }

    // .download__circle_2

    &_2 {
      &::before {
        transform: translate(-50%, -5%);
      }
    }
  }
}

