.btn {
  background-color: $greenColor;
  text-align: center;
  border-radius: 10px;
  padding: rem(21) rem(25);
  font-family: 'Lato';
  font-weight: 500;
  line-height: 122%;
  display: inline-block;
  transition: all 0.3s ease 0s;


  @media (min-width: $tablet){
    min-width: rem(142);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: #127912;
    }
  }

  @media(prefers-color-scheme) {
    color: $mainColor;
    background-color: $darkGreenColor;

    @media (any-hover: hover) {
      &:hover {
        background-color: $greenColor;
      }
    }
  }

	// .btn_no-bg

	&_no-bg {
    outline: 1px solid #FFFFFF;
    background-color: inherit;

    @media(prefers-color-scheme: light) {
      color: $mainColorDark;
      outline: 1px solid $mainColorDark
    }

    @media (any-hover: hover) {
      &:hover {
        color: $greenColor;
        outline: 1px solid $greenColor;
        background-color: inherit;
      }
    }
	}

  @media (max-width: $tablet){
    padding: rem(15) rem(18);
  }
  @media (max-width: $mobile){
    padding: rem(12) rem(17);
  }
}

//================================================================================

.title {
  font-weight: 600;
  @include adaptiv-value('font-size', 86, 45, 1);
  line-height: 92%;

  &_s80 {
    @include adaptiv-value('font-size', 80, 40, 1);
  }

  &_s70 {
    @include adaptiv-value('font-size', 70, 35, 1);
  }

  &_popup {
    @include adaptiv-value('font-size', 55, 25, 1);
  }
  
  span {
    color: $greenColor;

    @media(prefers-color-scheme: light) {
      color: $darkGreenColor;
    }
  }
}

.text {   
  line-height: 180%;
  font-weight: 300;

  @media(prefers-color-scheme: light) {
    font-weight: 400;
  }
}

//===============================================================================

.form {
  background: #FFFFFF;
  border-radius: 10px;
  max-width: rem(533);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(6);
  transition: all 0.3s ease 0s;

  @media(prefers-color-scheme: light) {
    background: rgba(38, 50, 56, 0.1);
  }


  @media (min-width: $pc){
    width: rem(533);
  }

  @media (max-width: rem(430)){
    flex-direction: column;
  }
  // .form__input

  &__input {
    flex: 1 1 auto;
    padding: rem(20) rem(19);
    font-weight: 500;
    line-height: 111%;
    color: $mainColorDark;
    transition: all 0.3s ease 0s;
    background: transparent;

    &::placeholder {
      color: $mainColorDark;
      font-weight: 500;
    }

    ._error & {
      color: red;
      &::placeholder {
        color: red;
      }
    }
    @media (max-width: rem(430)){
      width: 100%;
    }
  }

  &._error {
    outline: 1px solid red;
  }

  // .form__btn

  &__btn {
    @media (max-width: rem(430)){
      width: 100%;
    }
  }
}

//==============================================================================================

.image-block {
  align-self: start;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
  border-radius: rem(20);
  position: relative;
  @include adaptiv-value('padding-left', 40, 20, 1);
  @include adaptiv-value('padding-right', 40, 20, 1);

  @media(prefers-color-scheme: light) {
    background: rgba(0, 128, 0, 0.05);
  }

  &__circle {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.37);
      @include adaptiv-value('width', 585, 200, 1);
      @include adaptiv-value('height', 585, 200, 1);

      @media(prefers-color-scheme: light) {
        border: 1px solid $darkGreenColor;
      }
    }

    &_rev {
      &::before {
        top: auto;
        right: auto;
        left: 0;
        bottom: 0;
      }
    }

    // .image-block__circle_1

    &_1 {
      &::before {
        transform: translate(47%, -20%);
      }
    }

    // .image-block__circle_2

    &_2 {
      &::before {
        transform: translate(48%, -7%);
      }
    }

     // .image-block__circle_3

    &_3 {
      &::before {
        transform: translate(-40%, 7%);
      }
    }

    // .image-block__circle_4

    &_4 {
      &::before {
        transform: translate(-40%, 20%);
      }
    }
  }


  // .image-block__item

  &__item {
    position: relative;
    z-index: 2;
    text-align: center;
    img {
      max-width: 100%;
      border-radius: rem(21);
    }
  }
}
//==============================================================================

.rellax {
  transition: all 0.1s ease 0s;
}

